/*********banner******************/
.banner{
	width:100%;
	margin:0 auto;
	margin-top:100px;
}
.banner .detail{
    margin:50px 0;
	width:100%;
	height:300px;
	background: rgba(24, 169, 149, 0.69);
}
.banner .detail>div p{
	color:#ECF0F1;
	width:600px;
	height:150px;
	margin:0 auto;
	font-size:14px;
}
.banner .detail>div p:first-child{
	font-size:30px;
	line-height: 200px;
}

/*banner部分*/
#banner{
    width:960px;
    height:400px;
    position:relative;
    margin:0 auto;
    overflow: hidden;
}
#banner ul.banner-img{
    position:absolute; 
    left:0;
}
#banner ul.banner-img>li{
    width:960px;
    float:left;
}
#banner ul.banner-img img{
    width:960px;
    height:400px;
}
#banner a.ck-slide{
    position:absolute;
    top:185px;
    width:35px;
    height:70px;
    border-radius:3px;
    background:#000;
    opacity:0.4;
    transition:all .3s linear;
}
#banner a.ck-left{
    left:50px;
    background: #000 url(../img/left.png) no-repeat center center;
}
#banner a.ck-right{
    right:50px;
    background:#000 url(../img/right.png) no-repeat center center;
}
#banner a.ck-slide:hover{
    opacity:0.7;
}
#banner ul.indicators{
    position:absolute;
    bottom:30px;
    left:50%;
}
#banner ul.indicators li{
    width:12px;
    height:12px;
    background:#90DCD2;
    border-radius:50%;
    float:left;
    margin-right:5px;
    transition:all .2s linear;
}
#banner ul.indicators li.hover{
    color:#5FC3B6;
}
#banner ul.indicators li:hover,#banner ul.indicators li.hover{
    cursor:pointer;
    background-color:#0AA1ED;
}